main{
    position: absolute;
    top:40px;
    left:40px;
}

.lower
{
    border-radius: 3px;
    background-color: rgb(234, 237, 242);
    width: 300px;
    height: 500px;
}

.histogram
{   
    table-layout: fixed;
    white-space: nowrap;
    border-radius: 3px;
    background-color: rgb(234, 237, 242);
    position:absolute;
    left: 310px;
    top:  0px;
    width: 300px;
    height: 340px;
}

.submit_box
{
    border-radius: 3px;
    background-color: rgb(234, 237, 242);
    position:absolute;
    left: 310px;
    top:  350px;
    width: 300px;
    height: 150px;
}

.form
{   
    font-size: 12px;
    position: relative;
    left: -40px;
    top: 0px;
}

.table
{   
    column-width: 100px;
    font-family: Georgia;
    font-size: 12px;
    border-spacing: 100px 10px;
    position: absolute;
    left: -80px;
    top: 40px;
}


.red
{
    color: rgb(194, 24, 24);
    font-weight: bold;
    position: relative;
    left: 10px;
    top: 10px;
    
}


form  { display: table;  border-spacing: 60px 20px;   }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell;  width: 80px; height: 20px; border-radius: 3px; border-color: rgb(172, 172, 167); border-width: 1px; font-size: 13px; font-family: Georgia; text-align: center;}


