.jumbotron {
  background: #a3d0e679;
  color: rgb(28, 17, 192);
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
  .jumbotron #img1{
    width: 700px;
    position: absolute;
    right: 1200px;
  }
  .jumbotron #img2{
    width: 700px;
    position: relative;
    left: 500px;
  }

  .btn{
    width: 200px;
    position: relative;
    left: 350px;
    bottom: 100px;
  }

